/*
 * Color Scheme
 */

$color-base: #fff;
$color-dark: #333;
$color-blue: #0066cc;
$color-yellow: #ffcc00;
$color-red: #cc0000;
$color-darkred: #990000;
$color-gray: #808080;



/*
 * Object Sizes
 */
$main-cont-width: 460px;



/*
 * Overall Values
 */
$aside-width: 80px;
