/*
 * Кнопки
 */

.btn {
	color: $color-dark;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	outline: none;
	border: none;
	font-size: 13px;
	font-weight: 100;
	padding: 6px 20px;
	box-sizing: border-box;
	background-color: $color-yellow;
	opacity: .75;
	border-radius: 4px;
	box-shadow: 0 1px 0 rgba(#000, .15);
	transition: opacity .2s;

	&:hover {
		opacity: 1;
	}

	&_size {
		&-big {
			font-size: 21px;
			padding: 15px 20px;
		}
	}

	&_width {
		&-full {
			width: 100%;
		}
	}

}