.form {
	&__label {
		font-size: 21px;
		line-height: 1;
		color: $color-dark;
		text-align: left;
		display: inline-block;
		vertical-align: top;
		cursor: pointer;
	}

	&__field {
		display: block;
		outline: none;
		border: 1px solid rgba($color-blue, .3);
		text-decoration: none;
		margin: 0;
		padding: 0;
		background-color: rgba(#ccc, .3);
		border-radius: 2px;
		font: 100 21px/1 'Roboto', sans-serif;
		color: $color-dark;
		width: 100%;
		height: auto;
		padding: 5px 7px;
		box-sizing: border-box;

		&-wrap {
			position: relative;

			&_type-ib {
				display: inline-block;
			}
		}

		&_size {
			&-small {
				max-width: 51px;
			}
		}

		._type {
			&-text {
				font-size: 21px;
				line-height: 1;
			}
		}

		&_include {
			&-hint {
				padding-right: 30px;
			}

			&-transparent {
				border-color: transparent;
				background-color: transparent;
			}
		}
	}
}