.row {
	@include clearfix;
}

.col {
	float: left;
	box-sizing: border-box;

	&_padd {
		&-left {
			padding-left: 15px;
		}

		&-right {
			padding-right: 15px;
		}

		&-both {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}

.col_reverse {
	float: right;
}

$cols-sizes: 10, 15, 20, 25, 42, 50, 75;
@each $cols-size in $cols-sizes {
	.col_size-#{$cols-size} { 
		width: #{$cols-size}#{%};
	}
}

@each $cols-size in $cols-sizes {
	.col_offset-#{$cols-size} { 
		margin-left: #{$cols-size}#{%};
	}
}