.hint {
	position: absolute;
	top: 50%;
	margin-top: -10px;
	right: 8px;
	width: 20px;
	height: 20px;
	z-index: 10;

	&__icon {
		width: 20px;
		height: 20px;
		line-height: 1;
		overflow: hidden;
		text-align: center;
		border-radius: 50%;
		border: 1px solid $color-gray;
		box-sizing: border-box;
		cursor: pointer;
		transition: border-color .2s;
		color: $color-gray;

		& .fa {
			font-size: 12px;
			transition: color .2s;
		}

		&:hover {
			border-color: $color-blue;
			color: $color-blue;
		}

		&_stat-active,
		&_stat-active:hover {
			border-color: $color-red;
			color: $color-red;
		}
	}

	&__text {
		display: none;
	}

	&-ballon {
		position: absolute;
		width: 100%;
		height: auto;
		max-width: 400px;
		left: 0;
		top: 0;
		z-index: 100;
		background-color: #fff;
		border: 1px solid $color-yellow;
		box-shadow: 0 0 15px rgba(#000, .15);
		border-radius: 4px;
		font-size: 13px;
		line-height: 1.3846153846;
		padding: 15px 38px;
		box-sizing: border-box;

		&:hover {
			z-index: 9999;
		}

		&:after {
			content: '×';
			position: absolute;
			right: 8px;
			top: 0;
			font-size: 24px;
			line-height: 1;
			cursor: pointer;
		}
	}
}