.link {
	text-decoration: none;
	outline: none;
	font-size: 13px;
	color: $color-blue;
	border-bottom: 1px solid rgba($color-blue, .15);
	transition: color .2s, border-color .2s;

	&_color {
		&-gray {
			color: $color-dark;
			border-bottom-color: rgba(#000, .15);
		}
	}

	&_size {
		&-mid {
			font-size: 21px;
		}

		&-big {
			font-size: 31px;
		}
	}

	&:hover {
		color: $color-red;
		border-bottom-color: rgba($color-red, .15);
	}
}