<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
    {% set themePath = 'assets/remark/' %}
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" name="viewport">
        <meta content="bootstrap admin template" name="description">
        <meta content="" name="author">
        <title>Администрирование | Виртуальный ресурсный центр</title>
        <link href="../assets/images/apple-touch-icon.png" rel="apple-touch-icon">
        <link href="../assets/images/favicon.ico" rel="shortcut icon">
        <!-- Stylesheets -->
        <link href="{{ asset(themePath ~ 'global/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset(themePath ~ 'global/css/bootstrap-extend.min.css') }}" rel="stylesheet">
        <link href="{{ asset(themePath ~ 'base/assets/css/site.css') }}" rel="stylesheet">
        <!-- Plugins -->
        <link href="{{ asset(themePath ~ 'global/vendor/animsition/animsition.css') }}" rel="stylesheet">
        <link href="{{ asset(themePath ~ 'global/vendor/asscrollable/asScrollable.css') }}" rel="stylesheet">
        <link href="{{ asset(themePath ~ 'global/vendor/switchery/switchery.css') }}" rel="stylesheet">
        <link href="{{ asset(themePath ~ 'global/vendor/intro-js/introjs.css') }}" rel="stylesheet">
        <link href="{{ asset(themePath ~ 'global/vendor/slidepanel/slidePanel.css') }}" rel="stylesheet">
        <link href="{{ asset(themePath ~ 'global/vendor/select2/select2.css') }}" rel="stylesheet">

        <!-- datatables -->
        <link rel="stylesheet" href="{{ asset(themePath ~ 'global/vendor/datatables-bootstrap/dataTables.bootstrap.min.css?v2.0.0') }}">
        <link rel="stylesheet" href="{{ asset(themePath ~ 'global/vendor/datatables-fixedheader/dataTables.fixedHeader.min.css?v2.0.0') }}">
        <link rel="stylesheet" href="{{ asset(themePath ~ 'global/vendor/datatables-responsive/dataTables.responsive.min.css?v2.0.0') }}">
        <link rel="stylesheet" href="{{ asset(themePath ~ 'base/assets/examples/css/tables/datatable.css') }}">


        <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{{ asset('assets/froala_editor_2.1.0/css/froala_editor.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/froala_editor_2.1.0/css/froala_style.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/froala_editor_2.1.0/css/plugins/char_counter.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/froala_editor_2.1.0/css/plugins/code_view.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/froala_editor_2.1.0/css/plugins/colors.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/froala_editor_2.1.0/css/plugins/emoticons.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/froala_editor_2.1.0/css/plugins/file.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/froala_editor_2.1.0/css/plugins/fullscreen.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/froala_editor_2.1.0/css/plugins/image.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/froala_editor_2.1.0/css/plugins/image_manager.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/froala_editor_2.1.0/css/plugins/line_breaker.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/froala_editor_2.1.0/css/plugins/table.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/froala_editor_2.1.0/css/plugins/video.css') }}">

        <!-- Fonts -->
        <link href="{{ asset(themePath ~ 'global/fonts/web-icons/web-icons.min.css') }}" rel="stylesheet">
        <link href="{{ asset(themePath ~ 'global/fonts/brand-icons/brand-icons.min.css') }}" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic&subset=latin,cyrillic' rel='stylesheet'>
        <!--[if lt IE 9]> <script src="{{ asset(themePath ~ 'global/vendor/html5shiv/html5shiv.min.js') }}"></script> <![endif]-->
        <!--[if lt IE 10]> <script src="{{ asset(themePath ~ 'global/vendor/media-match/media.match.min.js') }}"></script> <script src="../../global/vendor/respond/respond.min.js"></script> <![endif]-->

        <link rel="stylesheet" href="{{ asset('assets/build/css/admin/admin.css') }}">

        {% block css %}{% endblock css %}

        <!-- Scripts -->
        <script src="{{ asset(themePath ~ 'global/vendor/modernizr/modernizr.js') }}"></script>
        <script src="{{ asset(themePath ~ 'global/vendor/breakpoints/breakpoints.js') }}"></script>
        <script>
            Breakpoints();
        </script>
    </head>
    <body class="dashboard">

        <script src="{{ asset(themePath ~ 'global/vendor/jquery/jquery.js') }}"></script>


        <!--[if lt IE 8]> <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p> <![endif]-->
        <nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">
            <div class="navbar-header">
                <button class="navbar-toggle hamburger hamburger-close navbar-toggle-left hided" data-toggle="menubar" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="hamburger-bar"></span>
                </button>
                <button class="navbar-toggle collapsed" data-target="#site-navbar-collapse" data-toggle="collapse" type="button">
                    <i aria-hidden="true" class="icon wb-more-horizontal"></i>
                </button>
                <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
                    <img class="navbar-brand-logo" src="{{ asset(themePath ~ 'base/assets/images/logo.png') }}" title="ВРЦ ФГОС">
                    <span class="navbar-brand-text">
                        ВРЦ ФГОС</span>
                </div>
                <button class="navbar-toggle collapsed" data-target="#site-navbar-search" data-toggle="collapse" type="button">
                    <span class="sr-only">Toggle Search</span>
                    <i aria-hidden="true" class="icon wb-search"></i>
                </button>
            </div>
            <div class="navbar-container container-fluid">
                <!-- Navbar Collapse -->
                <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
                    <!-- Navbar Toolbar -->
                    <ul class="nav navbar-toolbar">
                        <li class="hidden-float" id="toggleMenubar">
                            <a data-toggle="menubar" href="#" role="button">
                                <i class="icon hamburger hamburger-arrow-left">
                                    <span class="sr-only">Toggle menubar</span>
                                    <span class="hamburger-bar"></span>
                                </i>
                            </a>
                        </li>
                        <!-- <li class="hidden-float">
                            <a class="icon wb-search" data-target="#site-navbar-search" data-toggle="collapse" href="#" role="button">
                                <span class="sr-only">Toggle Search</span>
                            </a>
                        </li> -->
                    </ul>
                    <!-- End Navbar Toolbar -->
                    <!-- Navbar Toolbar Right -->
                    <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
                        <li class="dropdown">
                            <a aria-expanded="false" class="navbar-avatar dropdown-toggle" data-animation="scale-up" data-toggle="dropdown" href="#" role="button">
                                <span class="avatar avatar-online">
                                    <img alt="..." src="{{ asset(themePath ~ 'global/portraits/5.jpg') }}">
                                    <i></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li role="presentation">
                                    <a href="javascript:void(0)" role="menuitem">
                                        <i aria-hidden="true" class="icon wb-user"></i>
                                        Profile</a>
                                </li>
                                <li role="presentation">
                                    <a href="javascript:void(0)" role="menuitem">
                                        <i aria-hidden="true" class="icon wb-payment"></i>
                                        Billing</a>
                                </li>
                                <li role="presentation">
                                    <a href="javascript:void(0)" role="menuitem">
                                        <i aria-hidden="true" class="icon wb-settings"></i>
                                        Settings</a>
                                </li>
                                <li class="divider" role="presentation"></li>
                                <li role="presentation">
                                    <a href="javascript:void(0)" role="menuitem">
                                        <i aria-hidden="true" class="icon wb-power"></i>
                                        Logout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- End Navbar Toolbar Right -->
                </div>
                <!-- End Navbar Collapse -->
                <!-- Site Navbar Seach -->
                <div class="collapse navbar-search-overlap" id="site-navbar-search">
                    <form role="search">
                        <div class="form-group">
                            <div class="input-search">
                                <i aria-hidden="true" class="input-search-icon wb-search"></i>
                                <input class="form-control" name="site-search" placeholder="Search..." type="text">
                                <button aria-label="Close" class="input-search-close icon wb-close" data-target="#site-navbar-search" data-toggle="collapse" type="button"></button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- End Site Navbar Seach -->
            </div>
        </nav>
        <div class="site-menubar">
            <div class="site-menubar-body">
                <div>
                    <div>
                        {{ knp_menu_render('admin') }}
                    </div>
                </div>
            </div>
            <!-- <div class="site-menubar-footer">
                <a class="fold-show" data-original-title="Settings" data-placement="top" data-toggle="tooltip" href="javascript: void(0);">
                    <span aria-hidden="true" class="icon wb-settings"></span>
                </a> -->
                <!-- <a data-original-title="Lock" data-placement="top" data-toggle="tooltip" href="javascript: void(0);">
                    <span aria-hidden="true" class="icon wb-eye-close"></span>
                </a> -->
                <!-- <a data-original-title="Logout" data-placement="top" data-toggle="tooltip" href="javascript: void(0);">
                    <span aria-hidden="true" class="icon wb-power"></span>
                </a>
            </div> -->
        </div>
        <div class="site-gridmenu">
            <div>
                <div>
                    <ul>
                        <li>
                            <a href="apps/mailbox/mailbox.html">
                                <i class="icon wb-envelope"></i>
                                <span>Mailbox</span>
                            </a>
                        </li>
                        <li>
                            <a href="apps/calendar/calendar.html">
                                <i class="icon wb-calendar"></i>
                                <span>Calendar</span>
                            </a>
                        </li>
                        <li>
                            <a href="apps/contacts/contacts.html">
                                <i class="icon wb-user"></i>
                                <span>Contacts</span>
                            </a>
                        </li>
                        <li>
                            <a href="apps/media/overview.html">
                                <i class="icon wb-camera"></i>
                                <span>Media</span>
                            </a>
                        </li>
                        <li>
                            <a href="apps/documents/categories.html">
                                <i class="icon wb-order"></i>
                                <span>Documents</span>
                            </a>
                        </li>
                        <li>
                            <a href="apps/projects/projects.html">
                                <i class="icon wb-image"></i>
                                <span>Project</span>
                            </a>
                        </li>
                        <li>
                            <a href="apps/forum/forum.html">
                                <i class="icon wb-chat-group"></i>
                                <span>Forum</span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html">
                                <i class="icon wb-dashboard"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Page -->
        <div class="page animsition">
            <div class="page-header">
                <h1 class="page-title">{% block title %}{% endblock title %}</h1>

                {#{{ navigation_breadcrumbs('AppBundle:Navigation:Admin', { "template": ":Navigation:breadcrumbs-admin.html.twig" }) }}#}

                {#<ol class="breadcrumb">#}
                    {#<li><a href="../index.html">Home</a></li>#}
                    {#<li><a href="javascript:void(0)">Tables</a></li>#}
                    {#<li class="active">DataTables</li>#}
                {#</ol>#}
                <div class="page-header-actions">
                    {% block header_actions %}
                    {% endblock %}
                    {#<a class="btn btn-sm btn-default btn-outline btn-round" href="http://datatables.net" target="_blank">#}
                        {#<i class="icon wb-link" aria-hidden="true"></i>#}
                        {#<span class="hidden-xs">Official Website</span>#}
                    {#</a>#}
                </div>
            </div>
            <div class="page-content padding-30 container-fluid">
                {% block body %}{% endblock body %}
            </div>
        </div>
        <!-- End Page -->
        <!-- Footer -->
        <footer class="site-footer">
            <div class="site-footer-legal">
                © {{ 'now'|date('Y') }}
            </div>
            <div class="site-footer-right">
                Сделано с
                <i class="red-600 wb wb-heart"></i>
                в
                <a href="http://prime-developers.ru">Prime</a>
            </div>
        </footer>
        <!-- Core  -->
        <script src="{{ asset(themePath ~ 'global/vendor/jquery/jquery.js') }}"></script>
        <script src="{{ asset(themePath ~ 'global/vendor/bootstrap/bootstrap.js') }}"></script>
        <script src="{{ asset(themePath ~ 'global/vendor/animsition/animsition.js') }}"></script>
        <script src="{{ asset(themePath ~ 'global/vendor/asscroll/jquery-asScroll.js') }}"></script>
        <script src="{{ asset(themePath ~ 'global/vendor/mousewheel/jquery.mousewheel.js') }}"></script>
        <script src="{{ asset(themePath ~ 'global/vendor/asscrollable/jquery.asScrollable.all.js') }}"></script>
        <script src="{{ asset(themePath ~ 'global/vendor/ashoverscroll/jquery-asHoverScroll.js') }}"></script>
        <!-- Plugins -->
        <script src="{{ asset(themePath ~ 'global/vendor/switchery/switchery.min.js') }}"></script>
        <script src="{{ asset(themePath ~ 'global/vendor/screenfull/screenfull.js') }}"></script>
        <script src="{{ asset(themePath ~ 'global/vendor/slidepanel/jquery-slidePanel.js') }}"></script>
        <script src="{{ asset(themePath ~ 'global/vendor/skycons/skycons.js') }}"></script>
        <script src="{{ asset(themePath ~ 'global/vendor/matchheight/jquery.matchHeight-min.js') }}"></script>
        <script src="{{ asset(themePath ~ 'global/vendor/select2/select2.full.min.js') }}"></script>
        <!-- Scripts -->
        <script src="{{ asset(themePath ~ 'global/js/core.js') }}"></script>
        <script src="{{ asset(themePath ~ 'base/assets/js/site.js') }}"></script>
        <script src="{{ asset(themePath ~ 'base/assets/js/sections/menu.js') }}"></script>
        <script src="{{ asset(themePath ~ 'base/assets/js/sections/menubar.js') }}"></script>
        <script src="{{ asset(themePath ~ 'base/assets/js/sections/gridmenu.js') }}"></script>
        <script src="{{ asset(themePath ~ 'base/assets/js/sections/sidebar.js') }}"></script>
        <script src="{{ asset(themePath ~ 'global/js/configs/config-colors.js') }}"></script>
        <script src="{{ asset(themePath ~ 'base/assets/js/configs/config-tour.js') }}"></script>
        <script src="{{ asset(themePath ~ 'global/js/components/asscrollable.js') }}"></script>
        <script src="{{ asset(themePath ~ 'global/js/components/animsition.js') }}"></script>
        <script src="{{ asset(themePath ~ 'global/js/components/slidepanel.js') }}"></script>
        <script src="{{ asset(themePath ~ 'global/js/components/switchery.js') }}"></script>
        <script src="{{ asset(themePath ~ 'global/js/components/matchheight.js') }}"></script>
        <script src="{{ asset(themePath ~ 'global/js/components/select2.min.js') }}"></script>


        <!-- Plugins For This Page -->
        <script src="{{ asset(themePath ~ 'global/vendor/datatables/jquery.dataTables.min.js') }}"></script>
        <script src="{{ asset(themePath ~ 'global/vendor/datatables-fixedheader/dataTables.fixedHeader.js') }}"></script>
        <script src="{{ asset(themePath ~ 'global/vendor/datatables-bootstrap/dataTables.bootstrap.min.js') }}"></script>
        <script src="{{ asset(themePath ~ 'global/vendor/datatables-responsive/dataTables.responsive.js') }}"></script>
        <script src="{{ asset(themePath ~ 'global/vendor/datatables-tabletools/dataTables.tableTools.js') }}"></script>

        <script src="{{ asset(themePath ~ 'global/js/components/datatables.min.js') }}"></script>


        <script src="{{ asset('assets/froala_editor_2.1.0/js/froala_editor.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/froala_editor_2.1.0/js/plugins/align.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/froala_editor_2.1.0/js/plugins/code_view.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/froala_editor_2.1.0/js/plugins/file.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/froala_editor_2.1.0/js/plugins/fullscreen.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/froala_editor_2.1.0/js/plugins/image.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/froala_editor_2.1.0/js/plugins/image_manager.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/froala_editor_2.1.0/js/plugins/inline_style.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/froala_editor_2.1.0/js/plugins/line_breaker.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/froala_editor_2.1.0/js/plugins/link.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/froala_editor_2.1.0/js/plugins/lists.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/froala_editor_2.1.0/js/plugins/paragraph_format.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/froala_editor_2.1.0/js/plugins/quote.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/froala_editor_2.1.0/js/plugins/url.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/froala_editor_2.1.0/js/plugins/video.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/froala_editor_2.1.0/js/plugins/code_beautifier.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/froala_editor_2.1.0/js/plugins/table.min.js') }}"></script>


        <script type="text/javascript">
            $(function() {
                Site.run();
            });
        </script>

        <script type="text/javascript" src={{ asset('assets/build/js/admin/configs.js') }}></script>

        <script>

            jQuery(document).ready(function () {
            var App = App || {};
            App.Config = App.Config || {};

            App.Config.Editor = {
                fileUploadURL: '/admin/upload/file',
                imageUploadURL: '/admin/upload/image',
                codeBeautifier: true,
                placeholderText: '',
                emoticonsUseImage: true,
                key: 'YspjpA5ok==',
                heightMin: 400,
                toolbarButtons: [
                    'fullscreen', 'html', '|',
                    'clearFormatting', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'quote', '|',
                    'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', '|',
                    'insertTable', 'insertLink', 'insertImage', 'insertVideo', 'insertFile', 'emoticons'
                ]
            };
            });






        </script>



        {% block js %}{% endblock js %}
    </body>
</html>
