<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ТрансСтарАвиа</title>

    <link href='https://fonts.googleapis.com/css?family=Roboto:100,400&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
</head>
<body>
<!--[if lt IE 10]>
<p class="browserupgrade">Вы используете <strong>старый</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите браузер</a> и улучшите производительность.</p>
<![endif]-->

<div class="container-wrap">
    <aside class="left-bar">
        {{ knp_menu_render('main') }}
        {#<a href="#" class="left-bar__link">#}
            {#<span class="left-bar__link-icon left-bar__link-icon_type-burger">Весь сайт</span>#}
            {#<span class="left-bar__link-text">Весь сайт</span>#}
        {#</a>#}
        <a href="#" class="left-bar__link left-bar__link_stat-active">
            <span class="left-bar__link-icon left-bar__link-icon_type-calc">Кальк-р.</span>
            <span class="left-bar__link-text">Кальк-р.</span>
        </a>
        <a href="{{ path('static_page', {slug:'services'}) }}" class="left-bar__link">
            <span class="left-bar__link-icon left-bar__link-icon_type-service">Услуги</span>
            <span class="left-bar__link-text">Услуги</span>
        </a>
        <a href="#" class="left-bar__link">
            <span class="left-bar__link-icon left-bar__link-icon_type-client">Клиентам</span>
            <span class="left-bar__link-text">Клиентам</span>
        </a>
        <a href="#" class="left-bar__link">
            <span class="left-bar__link-icon left-bar__link-icon_type-cycle">Партнёр.</span>
            <span class="left-bar__link-text">Партнёр.</span>
        </a>
        <a href="{{ path('static_page', {slug: 'contacts'}) }}" class="left-bar__link">
            <span class="left-bar__link-icon left-bar__link-icon_type-phone">Контакты</span>
            <span class="left-bar__link-text">Контакты</span>
        </a>
    </aside>

    <div class="main-content">
        <div class="main-content__header">
            <div class="main-content__header-left">
                <div class="main-content__header-phone">8  391 200-8-440</div>
                <div class="main-content__header-subtext">ежедневно с 9 до 21</div>
            </div>
            <div class="main-content__header-right">
                <a href="javascript:void(0);" class="btn">Заказать звонок...</a>
                <div class="main-content__header-subtext">перезвоним через 15 минут</div>
            </div>
        </div><!-- END HEADER -->

        {% block content %}
        {% endblock %}




        <div class="footer">
            <div class="footer__social-wrap">
                <ul class="footer__social-list">
                    <li class="footer__social-item"><a href="javascript:void(0);" class="footer__social-link"><i class="fa fa-vk"></i></a></li>
                    <li class="footer__social-item"><a href="javascript:void(0);" class="footer__social-link"><i class="fa fa-facebook"></i></a></li>
                    <li class="footer__social-item"><a href="javascript:void(0);" class="footer__social-link"><i class="fa fa-twitter"></i></a></li>
                    <li class="footer__social-item"><a href="javascript:void(0);" class="footer__social-link"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
            <div class="footer__info">
                <div class="main-content__header-phone">8  391 200-8-440</div>
                <div class="main-content__header-subtext">ежедневно с 9 до 21</div>
                <div class="footer__info-copy">© ТрансСтарАвиа, 2016</div>
                <div class="footer__info-links">
                    <div class="footer__info-links-item">
                        <a href="javascript:void(0);" class="link">Услуги</a>
                    </div>
                    <div class="footer__info-links-item">
                        <a href="javascript:void(0);" class="link">Клиентам</a>
                    </div>
                    <div class="footer__info-links-item">
                        <a href="javascript:void(0);" class="link">Партнёр</a>
                    </div>
                    <div class="footer__info-links-item">
                        <a href="javascript:void(0);" class="link">О компании</a>
                    </div>
                    <div class="footer__info-links-item">
                        <a href="javascript:void(0);" class="link">Контакты</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="map__wrap">
        <div class="map" id="map"></div>
    </div>
    <div class="blur-map__wrap">
        <div class="blur-map" id="blurMap"></div>
    </div>
</div>




<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js scripts/main.js -->
<script src="scripts/map.js"></script>
<script src="scripts/main.js"></script>
<!-- endbuild -->
<script async defer
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAvI-8V4bipMp3M_l9VsZBtxOkw81KugOQ&callback=initMap">
</script>
{% block js %}

{% endblock %}
</body>
</html>




