// bower:scss
//@import "bower_components/font-awesome/scss/font-awesome.scss";
@import "../bower_components/font-awesome/css/font-awesome.css";
// endbower


//Helpers
@import 'helpers/vars';
@import 'helpers/mixins';

//Components
@import 'components/grid';
@import 'components/form';
@import 'components/buttons';
@import 'components/link';
@import 'components/title';
@import 'components/hint';

//Base
@import 'base/overall';


//Sections
@import 'sections/aside';
@import 'sections/main-content';
@import 'sections/map';
@import 'sections/calc';
@import 'sections/container';
@import 'sections/footer';

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
