{% extends '::base.html.twig' %}

{% macro positions_prototype(form) %}
    <div class="calc__row">
        <div class="calc__label"><label class="form__label">параметрами</label></div>
        <div class="calc__field calc__field-zero">
            <div class="form__field-wrap form__field-wrap_type-ib"><input type="text"
                                                                          class="form__field form__field_type-text form__field_size-small"
                                                                          value="1" data-cip-id="cIPJQ342845639"></div>
            <div class="calc__field-units calc__field-units_size-wide">×</div>
            <div class="form__field-wrap form__field-wrap_type-ib"><input type="text"
                                                                          class="form__field form__field_type-text form__field_size-small"
                                                                          value="1" data-cip-id="cIPJQ342845640"></div>
            <div class="calc__field-units calc__field-units_size-wide">×</div>
            <div class="form__field-wrap form__field-wrap_type-ib"><input type="text"
                                                                          class="form__field form__field_type-text form__field_size-small"
                                                                          value="1" data-cip-id="cIPJQ342845641"></div>
            <div class="calc__field-units">м</div>
        </div>
    </div>
    <div class="calc__row">
        <div class="calc__label"><label class="form__label">объёмом</label></div>
        <div class="calc__field calc__field-zero">
            <div class="form__field-wrap form__field-wrap_type-ib">
                {{ form_widget(form.children.vol, {attr: {class: "form__field form__field_type-text form__field_size-small form__field_include-transparent"}}) }}
                </div>
            <div class="calc__field-units">м<sup>3</sup></div>
        </div>
    </div>

    <div class="calc__row">
        <div class="calc__label"><label class="form__label">весом</label></div>
        <div class="calc__field calc__field-zero">
            <div class="form__field-wrap form__field-wrap_type-ib"><input type="text"
                                                                          class="form__field form__field_type-text form__field_size-small"
                                                                          data-cip-id="cIPJQ342845643"></div>
            <div class="calc__field-units">кг</div>
        </div>
    </div>
{% endmacro %}

{% block content %}
    <div class="home-text">
        <div class="home-text__subtitle">Краснояркая транспортная компания</div>
        <div class="home-text__title">ТрансСтарАвиа</div>
        <div class="home-text__text">Мы перевозим любые грузы по воде, земле и воздуху. Авиагрузоперевозки, морские/речные грузоперевозки, городские автогрузоперевозки, междугородные автогрузоперевозки</div>
    </div><!-- END HOME TEXT -->



    <div class="container">

        {#{{ form(form) }}#}

        {#<form action="" class="form-container">#}
        {#<div class="form-title"><h2>Calc</h2></div>#}
        {#<div class="form-group">#}
            {#<label>Пункт отправления</label>#}

        {#</div>#}
        {#<div class="form-group">#}
            {#<label>Пункт получения</label>#}

        {#</div>#}
        {#<div class="form-group">#}
            {#<label>Тип груза</label>#}


        {#</div>#}
        {#<div class="form-group">#}
            {#<label>Дополнительные параметры</label>#}
            {#<div class="checkbox">#}
                {#<label>#}
                    {#<input type="checkbox">Термо (не раб)#}
                {#</label>#}
            {#</div>#}
        {#</div>#}



        {#<button class="btn btn-primary btn-lg" type="submit">Рассчитать</button>#}


        {#<h2>Результаты расчета</h2>#}
        {#<dl class="dl-horizontal">#}
        {#<dt>Направление</dt>#}
        {#<dd>Город 1 - Город 2</dd>#}
        {#</dl>#}
        {#<dl class="dl-horizontal">#}
        {#<dt>Доп. услуги</dt>#}
        {#<dd>Термо</dd>#}
        {#</dl>#}
        {#<dl class="dl-horizontal">#}
        {#<dt>Стоимость</dt>#}
        {#<dd>10 000 р.</dd>#}
        {#</dl>	#}

    </div>

    <div class="calc">
        {{ form_start(form) }}
        <div class="calc__title">Доставить груз</div>
        <div class="calc__wrap">
            <div class="calc__row">
                <div class="calc__label"><label class="form__label" for="calc-from">из</label></div>
                <div class="calc__field">
                    <div class="form__field-wrap">
                        {#<input type="text" class="form__field form__field_type-text form__field_include-hint" id="calc-from">#}
                        {{ form_widget(form.from, {attr:{class:"form__field form__field_type-text form__field_include-hint"}}) }}
                        <div class="hint" data-hint-id="1">
                            <div class="hint__icon"><i class="fa fa-info"></i></div>
                            <div class="hint__text">Это пункт отправления вашего груза. От которого, согласно договору перевозки, начнётся доставка вашего груза</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="calc__row">
                <div class="calc__label"><label class="form__label" for="calc-to">в</label></div>
                <div class="calc__field">
                    <div class="form__field-wrap">
                        {#<input type="text" class="form__field form__field_type-text form__field_include-hint" id="calc-to">#}
                        {{ form_widget(form.to, {attr: {class: "form__field form__field_type-text form__field_include-hint"}}) }}
                        <div class="hint" data-hint-id="2">
                            <div class="hint__icon"><i class="fa fa-info"></i></div>
                            <div class="hint__text">Это пункт прибытия вашего груза.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="calc__row">
                <div class="calc__label"><label class="form__label" for="calc-from">Груз</label></div>
                <div class="calc__field">
                    <div class="form__field-wrap">
                        {#<input type="text" class="form__field form__field_type-text form__field_include-hint" id="calc-from">#}
                        {{ form_widget(form.cargoType, {attr:{class:"form__field form__field_type-text form__field_include-hint"}}) }}
                        <div class="hint" data-hint-id="1">
                            <div class="hint__icon"><i class="fa fa-info"></i></div>
                            <div class="hint__text"></div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="calc__row">
                <div class="calc__field">
                    <div class="calc__transport-choose">
                        <div class="calc__transport-item">
                            <input class="calc__transport-radio" type="radio" name="transport-type[]">
                            <div class="calc__transport-item-cont">
                                <div class="calc__transport-item-icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                                <div class="calc__transport-item-text">самолётом</div>
                            </div>
                        </div>
                        <div class="calc__transport-item">
                            <input class="calc__transport-radio" type="radio" name="transport-type[]">
                            <div class="calc__transport-item-cont">
                                <div class="calc__transport-item-icon"><i class="fa fa-car" aria-hidden="true"></i></div>
                                <div class="calc__transport-item-text">автомобилем</div>
                            </div>
                        </div>
                        <div class="calc__transport-item">
                            <input class="calc__transport-radio" type="radio" name="transport-type[]">
                            <div class="calc__transport-item-cont">
                                <div class="calc__transport-item-icon"><i class="fa fa-ship" aria-hidden="true"></i></div>
                                <div class="calc__transport-item-text">параходом</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class='positions' data-prototype="{{ _self.positions_prototype(form.positions.vars.prototype)|e('html_attr')  }}">
                {#{% for pos in form.positions %}#}
                {#{% endfor %}#}
                {#<button class="btn btn-default" type="submit">Добавить место</button>#}
            </div>




            {#<div class="calc__row">#}
                {#<div class="calc__field">#}
                    {#<a class="calc__field-additional" href="javascript:void(0);"><span>дополнительные параметры</span></a>#}
                {#</div>#}
            {#</div>#}

            <div class="calc__row">
                <div class="calc__btn-wrap">
                    <a class="btn btn_size-big btn_width-full calculate" href="javascript:void(0);">Рассчитать стоимость доставки</a>
                </div>
            </div>
            <div class="calc__row calc_result">
            </div>
        </div>
        {{ form_end(form) }}
    </div><!-- END CALCULATOR -->


    <div class="serv-mini">
        <div class="serv-mini__title"><a href="" class="link link_color-gray link_size-big">Услуги</a></div>
        <div class="row">
            <div class="col col_size-42">
                <div class="serv-mini__list">
                    <div class="serv-mini__item"><a class="link link_size-mid" href="javascript:void(0);">Авиа грузоперевозки</a></div>
                    <div class="serv-mini__item"><a class="link link_size-mid" href="javascript:void(0);">Авто грузоперевозки</a></div>
                    <div class="serv-mini__item"><a class="link link_size-mid" href="javascript:void(0);">Морские грузоперевозки</a></div>
                </div>
            </div>
            <div class="col col_size-42 col_reverse">
                <div class="serv-mini__list">
                    <div class="serv-mini__item"><a class="link link_size-mid" href="javascript:void(0);">ЖД грузоперевозки</a></div>
                    <div class="serv-mini__item"><a class="link link_size-mid" href="javascript:void(0);">Транспортная экспедиция</a></div>
                    <div class="serv-mini__item"><a class="link link_size-mid" href="javascript:void(0);">Комплекс складских услуг</a></div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block js %}
<script>


    var $collectionHolder;

    // setup an "add a tag" link
    var $addTagLink = $('<a href="#" class="add_tag_link">Добавить позицию</a>');
    var $newLinkLi = $('<div></div>').append($addTagLink);

    jQuery(document).ready(function () {

        //calc callback
        $('.calculate').on('click', function(){
            var form = $('form[name="calc"]');
            $.post(form.attr('action'), form.serialize(), function(data){
                $('.calc_result').html(data);
            });
        });



// Get the ul that holds the collection of tags
        $collectionHolder = $('div.positions');

// add the "add a tag" anchor and li to the tags ul
        $collectionHolder.append($newLinkLi);

// count the current form inputs we have (e.g. 2), use that as the new
// index when inserting a new item (e.g. 2)
        $collectionHolder.data('index', $collectionHolder.find(':input').length);

        $addTagLink.on('click', function (e) {
// prevent the link from creating a "#" on the URL
            e.preventDefault();

// add a new tag form (see next code block)
            addTagForm($collectionHolder, $newLinkLi);
        });
        $('.add_tag_link').trigger('click');
    });

    function addTagForm($collectionHolder, $newLinkLi) {
        // Get the data-prototype explained earlier
        var prototype = $collectionHolder.data('prototype');

        // get the new index
        var index = $collectionHolder.data('index');

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        var newForm = prototype.replace(/__name__/g, index);

        // increase the index with one for the next item
        $collectionHolder.data('index', index + 1);

        // Display the form in the page in an li, before the "Add a tag" link li
        var $newFormLi = $('<div></div>').append(newForm);
        $newLinkLi.before($newFormLi);
    }
</script>
{% endblock %}