{% extends '::admin.html.twig' %}

{% block body %}
<table>
    {% for page in pages %}
    <tr>
        <td>
            {{ page.title }}
        </td>
        <td>
            {{ page.slug}}
        </td>
        <td>
            <a href="{{ path('admin_page_edit', {page: page.id}) }}">Edit</a>
        </td>
    </tr>

    {% endfor %}
</table>
{% endblock %}