{% extends '::admin.html.twig' %}

{% block body %}
    {{ dump(page) }}
    {{ form(form) }}
{% endblock %}
{% block js %}
    <script>

        jQuery(document).ready(function ($) {
            $('#page_body').froalaEditor({
                fileUploadURL: '/admin/upload/file',
                imageUploadURL: '/admin/upload/image',
                codeBeautifier: true,
                placeholderText: '',
                emoticonsUseImage: true,
                key: 'YspjpA5ok==',
                heightMin: 400,
                toolbarButtons: [
                    'fullscreen', 'html', '|',
                    'clearFormatting', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'quote', '|',
                    'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', '|',
                    'insertTable', 'insertLink', 'insertImage', 'insertVideo', 'insertFile', 'emoticons'
                ]
            });
        });

    </script>

{% endblock %}
