/*
 * Сайтбар (синее меню слева)
 */

.left-bar {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: $aside-width;
	background-color: $color-blue;
	overflow-y: auto;
	padding: 16px 0;
	z-index: 3;

	&__link {
		display: block;
		text-align: center;
		text-decoration: none;
		outline: none;
		border: none;
		padding: 12px 0;
		color: #fff;
		opacity: .8;
		transition: opacity .2s;

		&:hover {
			opacity: 1;
		}

		&:not(:last-child) {
			margin-bottom: 7px;
		}

		&_stat-active {
			background-color: $color-yellow;
			color: $color-dark;
			opacity: 1;

			.left-bar__link-icon:before {
				opacity: 0;
			}

			.left-bar__link-icon:after {
				opacity: 1;
			}
		}

		&-icon {
			display: block;
			text-indent: -9999px;
			overflow: hidden;
			color: transparent;
			width: 0;
			height: 0;
			position: relative;
			margin: 0 auto 7px;

			&:before,
			&:after {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: url('../images/icons.png') no-repeat 0 0;
				transition: opacity .2s;
			}

			&:after {
				opacity: 0;
			}

			//Icon Types
			&_type-burger {
				width: 18px;
				height: 14px;

				&:before {
					background-position: -5px -5px;
				}

				&:after {
					background-position: -5px -29px;
				}
			}

			&_type-calc {
				width: 21px;
				height: 20px;

				&:before {
					background-position: -5px -53px;
				}

				&:after {
					background-position: -5px -83px;
				}
			}

			&_type-service {
				width: 20px;
				height: 20px;

				&:before {
					background-position: -5px -293px;
				}

				&:after {
					background-position: -5px -323px;
				}
			}

			&_type-client {
				width: 20px;
				height: 20px;

				&:before {
					background-position: -5px -113px;
				}

				&:after {
					background-position: -5px -143px;
				}
			}

			&_type-cycle {
				width: 20px;
				height: 20px;

				&:before {
					background-position: -5px -173px;
				}

				&:after {
					background-position: -5px -203px;
				}
			}

			&_type-phone {
				width: 20px;
				height: 20px;

				&:before {
					background-position: -5px -233px;
				}

				&:after {
					background-position: -5px -263px;
				}
			}
		}

		&-text {
			display: block;
			font-size: 13px;
			line-height: 1;
			text-align: center;
		}
	}
}