/*
 * Калькулятор
 */

.calc {
	margin: 16px -20px;
	padding: 26px 20px 50px 40px;
	border-top: 1px solid rgba(#000, .15);
	border-bottom: 1px solid rgba(#000, .15);

	&__title {
		font-size: 31px;
		margin-bottom: 17px;
	}

	&__wrap,
	&__row {
		@include clearfix;
	}

	&__row {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__label {
		float: left;
		width: 37%;
		padding-top: 10px;
	}

	&__field {
		float: right;
		width: 63%;

		&-zero {
			font-size: 0;
		}

		&-units {
			margin-left: 4px;
			padding-top: 5px;
			display: inline-block;
			vertical-align: top;
			font-size: 21px;

			& sup {
				font-size: 12px;
			}

			&_size {
				&-wide {
					width: 30px;
					text-align: center;
					margin: 0;
				}
			}
		}

		&-additional {
			font-size: 21px;
			line-height: 1.1;
			color: $color-blue;
			position: relative;
			padding-left: 30px;
			display: inline-block;
			text-decoration: none;
			outline: none;
			transition: color .2s;

			& span {
				border-bottom: 1px dashed rgba($color-blue, .3);
				transition: border-color .2s;
			}

			&:before {
				content: '+';
				position: absolute;
				left: 0;
				top: 0;
				width: 24px;
				height: 24px;
				border-radius: 50%;
				box-sizing: border-box;
				border: 1px solid rgba($color-blue, .3);
				color: $color-blue;
				text-align: center;
				transition: color .2s, border-color .2s;
			}

			&:hover {
				color: $color-red;
				
				& span {
					border-color: rgba($color-red, .3);
				}

				&:before {
					color: $color-red;
					border-color: rgba($color-red, .3);
				}
			}
		}
	}

	&__transport {
		&-choose {
			@include clearfix;
		}

		&-item {
			float: left;
			width: 33.3%;
			max-width: 79px;
			height: 60px;
			position: relative;

			&:not(:first-child) {
				margin-left: -1px;
			}

			&:first-child &-cont{
				border-radius: 4px 0 0 4px;
			}

			&:last-child &-cont{
				border-radius: 0 4px 4px 0;
			}

			&_stat-active {
				background-color: rgba($color-blue, .15);
				color: $color-blue;
			}

			&-cont {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				border: 1px solid rgba(#666, .3);
				background-color: rgba(#ccc, .3);
				box-sizing: border-box;
				text-align: center;
				padding-top: 10px;
			}

			&-icon {
				font-size: 24px;
				line-height: 1;
			}

			&-text {
				font-size: 11px;
			}
		}

		&-radio {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			display: block;
			cursor: pointer;
			margin: 0;
			padding: 0;
			z-index: 1;
			opacity: 0;

			&:checked + .calc__transport-item-cont {
				background-color: rgba($color-blue, .15);
				border-color: rgba($color-blue, .30);
				color: $color-blue;
			}
		}
	}

	&__btn-wrap {
		padding-top: 12px;
	}
}