.container {
	margin: 0 -20px;

	&__close {
		text-decoration: none;
		outline: none;
		color: $color-dark;
		transition: color .2s;
		padding-right: 15px;
		position: relative;
		display: inline-block;
		vertical-align: top;
		line-height: 1;
		font-size: 13px;

		&:hover {
			color: $color-red;
		}

		&:before,
		&:after {
			content: '';
			display: block;
			position: absolute;
			right: 4px;
			top: 2px;
			width: 1px;
			height: 10px;
			background-color: $color-dark;
			transition: border-color .2s;
		}

		&:before {
			transform: rotate(45deg);
		}

		&:after {
			transform: rotate(-45deg);
		}

		&:hover {
			&:before,
			&:after {
				background-color: $color-red;
			}
		}

		&-wrap {
			border-top: 1px solid rgba(#000, .15);
			border-bottom: 1px solid rgba(#000, .15);
			text-align: right;
			padding: 10px 20px;
			line-height: 1;
		}
	}

	&__back {
		text-decoration: none;
		outline: none;
		color: $color-blue;
		transition: color .2s;
		padding-right: 15px;
		position: relative;
		display: inline-block;
		vertical-align: top;
		line-height: 1;
		font-size: 13px;
		float: left;

		&:hover {
			color: $color-red;
		}
	}

	&__root {
		padding: 15px 38px 60px;

		&-post {

			& p {
				margin: 0 0 21px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

.link-list {
	list-style: none;
	margin: 0;
	padding: 0;

	&__item {
		display: block;
		padding: 0;

		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}
}