.footer {
	margin-left: -20px;
	margin-right: -20px;
	border-top: 1px solid rgba(#000, .15);

	&__social {

		&-wrap {
			border-bottom: 1px solid rgba(#000, .15);
			padding: 20px 0;
		}

		&-list {
			list-style: none;
			margin: 0;
			padding: 0;
			font-size: 0;
			text-align: center;
		}

		&-item {
			font-size: 21px;
			display: inline-block;
			vertical-align: top;

			&:not(:last-child) {
				margin-right: 10px;
			}
		}

		&-link {
			display: block;
			text-decoration: none;
			outline: none;
			width: 36px;
			height: 36px;
			border-radius: 50%;
			text-align: center;
			line-height: 1;
			color: $color-blue;
			border: 1px solid rgba($color-blue, .15);
			box-sizing: border-box;
			padding-top: 7px;
			transition: color .2s, border-color .2s;

			&:hover {
				color: $color-red;
				border-color: rgba($color-red, .15);
			}
		}
	}

	&__info {
		padding: 21px 20px 21px 39px;

		&-copy {
			margin-top: 20px;
			font-size: 13px;
		}

		&-links {
			font-size: 0;
			text-align: left;
			margin-top: 5px;

			&-item {
				display: inline-block;
				vertical-align: top;

				&:not(:last-child) {
					margin-right: 16px;
				}
			}
		}
	}
}