/*
 * Оснойной контент (Белая плашка)
 */

.main-content {
	position: absolute;
	top: 0;
	left: $aside-width;
	bottom: 0;
	width: 44%;
	min-width: $main-cont-width;
	background-color: rgba($color-base, .5);
	border-left: 1px solid #ccc;
	z-index: 2;
	box-shadow: 0 0 30px 10px rgba(#000, .1);
	transition: background-color .3s ease-in;
	overflow-y: auto;
	padding: 20px;
	box-sizing: border-box;

	&:hover {
		background-color: rgba($color-base, .6);
	}

	&__header {
		@include clearfix;

		margin-bottom: 20px;

		&-left {
			float: left;
			padding: 4px 0 0 20px;
		}

		&-right {
			float: right;
		}

		&-phone {
			font-size: 21px;
			line-height: 1;
			margin-bottom: 7px;
		}

		&-subtext {
			font-size: 13px;
			line-height: 1;
			margin-top: 4px;
		}
	}
}

.home-text {
	padding: 33px 20px;

	&__subtitle {
		font-size: 13px;
		line-height: 1;
		overflow: hidden;
	}

	&__title {
		font-size: 51px;
		line-height: 1;
		margin-bottom: 14px;
		overflow: hidden;
	}

	&__text {
		font-size: 13px;
		line-height: 1.3846153846;
		overflow: hidden;
	}
}

.serv-mini {
	padding: 10px 0 51px 19px;

	&__title {
		margin-bottom: 15px;
	}

	&__item {
		line-height: 1.1904761905;

		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}
}