/*
 * Карты
 */

.map {
	display: block;
	border: none;
	outline: none;
	width: 100%;
	height: 100%;

	&__wrap {
		position: absolute;
		overflow: hidden;
		overflow-y: auto;
		top: 0;
		left: 80px;
		right: 0;
		bottom: 0;
	}
}



.blur-map {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	box-sizing: border-box;
	filter: blur(10px);

	&__wrap {
		width: 44%;
		min-width: $main-cont-width;
		height: 100%;
		overflow: hidden;
		position: absolute;
		margin-left: 1px;
	}
}