{% extends '::base.html.twig' %}

{% block content %}
    <div class="container__root">
        <div class="title title_size-big">{{ page.title }}</div>
        {{ page.body|raw }}
    </div>
{% endblock %}