/*
 * Общие стили
 */

::selection {
	background-color: rgba($color-yellow, .25);
}

html,
body {
	height: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
}

html {
	background-color: $color-base;
	font: 100 15px/1.4 'Roboto', sans-serif;
	color: $color-dark;
}

body {
	position: relative;
}

.container-wrap {
	height: 100%;
	margin-left: 80px;
}